version: '3.8'

services:
  php:
    build:
      context: ./docker/php
    container_name: php-lab
    volumes:
      - ./src:/var/www/html
      - ./docker/apache/default.conf:/etc/apache2/sites-available/000-default.conf
    working_dir: /var/www/html
    ports:
      - "${APP_PORT}:80"
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: php-lab-db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "${DB_PORT}:3306"
    volumes:
      - dbdata:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    platform: linux/amd64 
    container_name: php-lab-pma
    restart: unless-stopped
    ports:
      - "${PHPMYADMIN_PORT}:80"
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
      PMA_DATABASE: ${PHPMYADMIN_DEFAULT_DB}
    depends_on:
      - db

volumes:
  dbdata: